@import "tailwindcss";
@plugin "../heroui-plugin.cjs";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@theme {
  --font-display: var(--font-display);
  --font-body: var(--font-body);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
